<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%=title%> | Sensortag Websocket</title>

    <!-- Styles -->
    <link href="/static/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">

                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Branding Image -->
                <a class="navbar-brand" href="/">
                    Sensortag Websocket
                </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                   
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Connected Device <span id="dev-status"></span></div>
                <div class="panel-body" id="device-panel">

                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/static/node_modules/jquery/dist/jquery.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/static/node_modules/sprintf-js/dist/sprintf.min.js"></script>
    <script>

    var device_panel = '<div class="panel panel-info">' +
        '<div class="panel-heading"><span class="glyphicon glyphicon-record"></span> Sensortag</div>' +
        '<div class="panel-body">' +
        '<span class="label label-info">%s</span>&nbsp;' +
        '<span class="label label-info">%s</span>' +
        '<button class="btn btn-default btn-sm btn-view pull-right" data-uuid="%s">View</button>'+
        '</div>' +
    '</div>';

    $(function(){

        var info = new WebSocket('ws://<%=websocket_address %>/sensortag/connected');

        info.onclose = function() {
            $('#dev-status').html('<span class="label pull-right label-sm label-danger">Disconnected</button>');
        }

        info.onerror = function() {
            $('#dev-status').html('<span class="label pull-right label-sm label-danger">Disconnected</button>');
        }

        info.onmessage = function (event) {

            var device = JSON.parse(event.data);

            console.log(device);

            if( Object.keys(device).length === 0 )
                $('#dev-status').html('<span class="label pull-right label-sm label-warning">No Device</button>');

            $('#device-panel').html('');
            for( var uuid in device ) {
                $('#device-panel').append(sprintf(device_panel, device[uuid].type, device[uuid].address, uuid));
            }
        }

        $(document).on('click', '.btn-view', function(event) {

            var uuid = $(this).data('uuid');
            console.log('View %s', uuid);
            location.href = '/sensor/' + uuid;
        });
    });
    </script>
</body>
</html>
